/* components/Dashboard/Dashboard.css */
.box {
  border: 1px solid;
}

.shadowDiv-t {
  box-shadow: 0px 0px 10px 10px #fff;
  background: #fff;
}

.shadowDiv-b {
  box-shadow: 0px 0px 10px 10px #fff;
  background: #fff;
}

.Sidebar {
  z-index: 30;
  position: relative;
  min-width: 240px;
  width: 240px;
  /* width: 240px;
  min-width: 240px;
  padding-top: 16px;
  padding-bottom: 16px; */
  background: #fff;
  /* transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; */
  transition: width 0.5s ease-in-out;
}

@media (width <=1024px) {
  .Sidebar {
    min-width: 208px;
    width: 208px;
  }
}

@media (width <=768px) {
  .bgBlur {
    background: #00000000;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition:
      backdrop-filter 0.3s ease-in-out,
      -webkit-backdrop-filter 0.6s ease-in-out;
  }

  .bgBlur.sidebar-open {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  .Sidebar {
    /* position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    opacity: 0; */
  }

  /* .Sidebar.sidebar-open {
    opacity: 1;
    transform: translateX(0);
  } */
}

.Topbar {
  z-index: 2;
}

.MyCards {
  z-index: 1;
}

.Marketplace {
  z-index: 1;
}